
@media only screen and (min-width: 768px) {
    li a:hover {
        color: black;
        font-weight: bold;
    }
    .wrap {
        height: 100vh;
    }
    #myDiv {
        display: flex;
        width: 100%;
    }
    #aboutImage {
        width: 50%;
        padding-right: 1em;
    }
    #aboutUs {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .flip-scene {
        float: left;
        width: 25%;
        /* width: calc(25vw - 4px); */
    }

    .grid3x3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
    }

    .client-thumbnail img {
        width: 100%;
    }
}