html {
    margin: 8px;
}

body{
    scroll-behavior: smooth;
}

.flex {
    display:flex;
}
.flex-center {
    justify-content: center;
}
.flex-space-evenly{
    justify-content: space-evenly;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.space {
    width:200px;
    height: 100vw;
    background-color: yellow;
    /* transition: transform 1s ease 0.2s */
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 1em;
}

img {
    /* transform: translateX(-15%); */
    clip-path: polygon(0 0, 0 87%, 100% 156%, 100% 25%, 75% 0);
    max-width: 100%;
    width: 100%;
}

#aboutUs {
    background-color: grey;
    border-radius: 10px 62px;
}

article {
    text-align: justify;
    padding: 0.5em;
}

.visited {
    animation: fadeInLeft 2s ease-in 1 normal 0s;
    /* transform: translateX(200px); */
}

#consultingFront {
    width: 100%;
}

.rotateImg:hover {
    animation: rotate 1s ease-in 1 normal 0s;
}

@keyframes fadeInLeft {
    0% { 
        opacity: 0; 
        transform: translateX(-300%); 
    }
    50% {
       opacity: 0.3; 
    }
    100% {
        opacity: 1; 
        transform: translateX(0); 
    }
}

@keyframes rotate {
    100% {
        transform: rotateY(90deg); 
    }
}


@media only screen and (min-width: 768px) {
    #myDiv {
        display: flex;
        width: 100%;
    }
    #aboutImage {
        width: 50%;
    }
    #aboutUs {
        width: 50%;
    }
    img {
        width: 500px;
    }
    #consultingFront {
        width: 50%;
    }
}
