.space {
    width:200px;
    height: 100vw;
    background-color: yellow;
    /* transition: transform 1s ease 0.2s */
}

.flex-center {
    display:flex;
    justify-content: center;
}

#myDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: red;
    /* transition: transform 1s ease 0.2s */
}

.visited {
    animation: fadeInLeft 2s ease-in 1 normal 0s;
    /* transform: translateX(200px); */
}

@keyframes fadeInLeft {
    0% { 
        opacity: 0; 
        transform: translateX(-300%); 
    }
    50% {
       opacity: 0.3; 
    }
    100% {
        opacity: 1; 
        transform: translateX(0); 
    }
}